<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>me-moji</title>
	<script type="text/javascript" charset="utf-8" src="/static/js/lib/jquery-1.7.2.min.js">
	</script>
	<script type="text/javascript" src="/static/js/lib/jscam/jquery.webcam.js"></script>
	
	<script type="text/javascript" src="/static/js/lib/bootstrap/js/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
	

	<script type="text/javascript" src="/static/js/memoji.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		
		var emojiName = '<%=emojiName%>';
		var initialCamera = <%=camera%>;
		var initialFocus = '<%=initialFocus%>';
		var focusType = '<%=focusType%>';
		var sessionPhotos = <%-photos%>;
		var sessionId = '<%=sessionId%>';
		var setUrl = '<%=setUrl%>';
		
		/* Deal with IE not having console.log */
	    if (typeof console === "undefined" || typeof console.log === "undefined") {
	     console = {};
	     console.log = function() {};
	   }
		
	</script>
	
	<link rel="stylesheet" href="/static/css/memoji.css" type="text/css" media="screen" charset="utf-8">

	<link rel="stylesheet" href="/static/js/lib/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">

	<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32389245-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
</script>



<% if(typeof(fbMetaImageURL) != "undefined") {%>
	<meta property="og:image" content="<%=fbMetaImageURL%>"/>
<%}%>



</head>
<body id="index" onload="">
	<div id="fb-root"></div>

<div id="background"></div>
<div id="flash"></div>

<div id="container">

	<div id="focus">
		<img class="close-button tt" src="/static/img/Xemoji.png" data-original-title="close">
		<img class="main" src="">
		<img class="spinner" src="/static/img/spinner.gif">
		<div class="notice">
		<p>Hooray! We're gathering up all your pictures to make a souvenir just for you. It will take a few moments, please be patient!</p>
		</div>
		<div id="focus-footer"></div>
	</div>

<div id="gutter">
<img id="logo" src="/static/img/logo.png">
<div id="tagline">an emoji photobooth and gallery</div>
<img id="emoji1" class="emoji" src="/static/img/emoji/1.png">
<img id="emoji2" class="emoji" src="/static/img/emoji/2.png">
<img id="emoji3" class="emoji" src="/static/img/emoji/3.png">
<img id="emoji4" class="emoji" src="/static/img/emoji/4.png">
<img id="emoji5" class="emoji" src="/static/img/emoji/5.png">
<img id="emoji6" class="emoji" src="/static/img/emoji/6.png">
<img id="emoji7" class="emoji" src="/static/img/emoji/7.png">
<img id="emoji8" class="emoji" src="/static/img/emoji/8.png">
<img id="emoji9" class="emoji" src="/static/img/emoji/9.png">
<img id="emoji10" class="emoji" src="/static/img/emoji/10.png">
<img id="emoji11" class="emoji" src="/static/img/emoji/11.png">
<img id="emoji12" class="emoji" src="/static/img/emoji/12.png">
<img id="emoji13" class="emoji" src="/static/img/emoji/13.png">
<img id="emoji14" class="emoji" src="/static/img/emoji/14.png">
<img id="emoji15" class="emoji" src="/static/img/emoji/15.png">
<img id="emoji16" class="emoji" src="/static/img/emoji/16.png">
<img id="emoji17" class="emoji" src="/static/img/emoji/17.png">
<img id="emoji18" class="emoji" src="/static/img/emoji/18.png">
<img id="emoji19" class="emoji" src="/static/img/emoji/19.png">
</div>
<div id="content">

<div id="photobooth">
	<img class="close-button button tt" src="/static/img/Xemoji.png" data-original-title="close" title="close">

	<div id="camera-container">
		<div id="video"></div>
		<canvas id="image"></canvas>
		<div id="image-background"></div>
		<img id="emoji-example" src="/static/img/emoji/1.png" data-title="Make this face!" data-trigger="manual" data-placement="right">
		<img id="mask" src="/static/img/whitemask.png">
	</div>

	<div id="status">
		<div id="countdown">
		<img id="count3" src="/static/img/3white.png">
		<img id="count2" src="/static/img/2white.png">
		<img id="count1" src="/static/img/1white.png">
		</div>
	
		<div id="camera">
			<button id="capture" class="btn btn-primary btn-large">take a picture!</button>
			<!-- <div id="capture" class="tt">take a picture!</div> -->
		<!-- <img id="capture" class="tt" src="/static/img/camera.png" data-original-title="take a picture!"> -->
		</div>
	
<div id="review">
	
	<button id="reject" class="btn btn-danger btn-large tt">retake photo</button>
	<button id="select" class="btn btn-success btn-large tt">share photo</button>
</div>

		<br class="clear">
	</div>
	
	<div id="session-photos">
	<img class="emoji slot0" src="/static/img/emoji/1.png">
	<img class="emoji slot1" src="/static/img/emoji/2.png">
	<img class="emoji slot2" src="/static/img/emoji/3.png">
	<img class="emoji slot3" src="/static/img/emoji/4.png">
	<img class="emoji slot4" src="/static/img/emoji/5.png">
	<img class="emoji slot5" src="/static/img/emoji/6.png">
	<img class="emoji slot6" src="/static/img/emoji/7.png">
	<img class="emoji slot7" src="/static/img/emoji/8.png">
	<img class="emoji slot8" src="/static/img/emoji/9.png">
	<img class="emoji slot9" src="/static/img/emoji/10.png">
	<img class="emoji slot10" src="/static/img/emoji/11.png">
	<img class="emoji slot11" src="/static/img/emoji/12.png">
	<img class="emoji slot12" src="/static/img/emoji/13.png">
	<img class="emoji slot13" src="/static/img/emoji/14.png">
	<img class="emoji slot14" src="/static/img/emoji/15.png">
	<img class="emoji slot15" src="/static/img/emoji/16.png">
	<img class="emoji slot16" src="/static/img/emoji/17.png">
	<img class="emoji slot17" src="/static/img/emoji/18.png">
	<img class="emoji slot18" src="/static/img/emoji/19.png">
	</div>
</div>

<ul id="all-photos">
<li class="first"><div id="photo-button"><img id="add-photo" class="circle tt" src="/static/img/silhouette.png" data-original-title="Open photo booth!"><div class="label">Add your face!</div></div></li>
</ul>

<div id="about">
<h1>me-moji.com: an emoji photobooth and gallery</h1>
<h2><a href="http://web.media.mit.edu/~dharry/">Drew Harry</a> and <a href="http://archinect.com/lian">Lian Chang</a></h2>

<p>When we started using emoji (japanese-style emoticons) in our text messages, we were struck by the evocative visual language of the faces and how it was both alike and different from people's actual faces. We decided to explore this idea by creating an online photo booth where you can record your own face making the emoji faces and browse other people's attempts.</p>

<p>By the way, if you take a picture of yourself doing every picture, you'll get a special surprise gift!</p>

<p>Please send your comments, questions, bug reports, or cute emoji pictures to us <a href="mailto:ask.memoji@gmail.com">here!</a></p>
</div>

<div id="about-button">
<img src="/static/img/lightbulb.png" class="tt" data-original-title="more info" data-placement="top">
</div>

<div id="no-camera-modal" class="modal hide fade">
	<div class="modal-header">
	    <h3>No Camera!</h3>
	  </div>
  <div class="modal-body">
    <p>You don't have a camera to take a picture with! You'll just have to browse other people's photos instead.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Darn…</a>
  </div>
</div>


</div>

</div>

</body>
</html>